
.body{
  font-family: "Work Sans", sans-serif;
}
.primary-button{
    border-radius: 8px;
    border: none;
    background: #FF900E;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 20px 25px;
    cursor: pointer;
}

header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 150px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}
nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-size: 1rem;
    font-weight: 500;
}
nav li a{
    text-decoration: none;
    color: #424242;
}

/* Banner section */
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}
.banner-description{
    color: #727272;
    margin-bottom: 35px;
}
.banner img{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 0;
}


/* Main styes */
main{
    max-width: 1440px;
    /* max-width: 100%; */
    /* margin: 0 auto; */
}
.teams-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.teams-title{
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}
.quick{
    color: #727272;
font-size: 2.8rem;
font-weight: 500;
}
.feature{
    color: #FF900E;
    font-size: 3rem;
    font-weight: 700;
}
.teams-content{
    padding-left: 50px;
}
.teams-description{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 30px;
}
.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px;
}

/* Facts */
.facts-title{
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 30px;
}
.facts-description{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
}
.facts-content{
    margin-left: 100px;
}
.facts-achievments{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin-top: 80px;
}
.facts-achievments .facts-cards{
    border-radius: 8px;
    border: 1px solid #FF900E;
    padding: 20px;
    justify-content: center;
    height: 150px;
    width: 200px;
    margin-left: 150px;
    padding-top: 40px;
}
.facts-cards h3{
    color: #424242;
    font-size: 2.8rem;
    font-weight: 600;
    margin: 0px;
}
.facts-achievments p{
    color: #727272;
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}

/* Responsive for small devices */
@media screen and (max-width:576px) {
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;
    }
    .teams-container{
        flex-direction: column-reverse;
        margin-top: 0;
    }
    .teams-img-container{
        grid-template-columns: repeat(1,1fr);
    }
    .teams-content{
        text-align: center;
        padding: 20px;
    }
    .facts-achievments{
        flex-direction: column;
        margin-right: 150px;
        gap: 20px;
    }
    .facts-content{
        /* align-items: center; */
        margin: 0 auto;
        padding: 0px 20px;
        text-align: center;
    }
}

/* Responsive for medium devices */
@media screen and (min-width: 576px) and (max-width:992px) {
    header{
        padding: 100px;
    }
    nav{
        flex-direction: column;
    }
    .teams-container{
        flex-direction: column-reverse;
        margin-top: 0;
    }
    .teams-content{
        text-align: center;
        padding: 20px;
    }
    .teams-img-container{
        gap: 20px;
    }
    .facts-achievments{
        flex-wrap: wrap;
    }
}