
.body{
    font-family: "Work Sans", sans-serif;
}
.primary{
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    color: #FFFFFF;
    border: none;
    font-size: 1.25rem;
    font-weight: 600;
}
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title,
.some-fact
{
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}
nav ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}
nav li a{
    text-decoration: none;
    color: #424242;
}
.banner-content{
    max-width: 850px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
}
.banner-description{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
}
.banner img{
    margin-top: 20px;
    width: 100%;
}
main{
    max-width: 1440px;
    margin: 70px auto;
}
.teams-container{
    display: flex;
    align-items: center;
}
.teams-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
}
.teams-content{
    padding-right: 70px;
    padding-left: 70px;
}
.teams-title
{
    font-size: 2.8rem;
}
.quick-list{
    color:#727272;
    font-weight: 500;
}
.our
{
    color:#131313;
    font-weight: 700;
}
.features{
    color: #FF900E;
    font-weight: 700;
}
.teams-description,
.facts-desc,
.sponsor-desc,
.feature-desc,
.footer-desc
{
    color:#727272;
    font-size: 1rem;
    font-weight: 400;
}

.facts-card-container{
    display: flex;
    justify-content: space-around;
}
.facts-card-container .card{
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px;
}
.facts-card-container .card-stats{
    font-size: 2.8rem;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;
}
.facts-card-container .card-title{
    font-weight: 600;
    color: #727272;
    font-size: 1.25rem;
    margin-top: 5px;
}
.section-title{
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}
.sponsor-section{
    text-align: center;
}
.sponsor-img{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
}
.sponsor-img img{
    width: 165px;
}
.feature{
    margin-top: 130px;
    display: flex;
    gap: 100px;
}
.feature-img img{
    height: 90%;
    margin-left: 50px;
}
.feature-content .card{
    margin-bottom: 20px;
    padding: 30px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}
.feature-content .card-title{
    color:#131313;
    font-size: 1.25rem;
    font-weight: 600;
}
.feature .section-title{
    padding-left: 20px;
    border-left: 5px solid #FF900E;
}
.ten-year{
    border-radius: 8px;
    background: #FF900E;
    text-align: center;
    color: #FFF;
    padding: 45px 42px;
    width: 340px;
    position: relative;
    bottom: 100px;
}
.ten{
    margin: 0;
    font-size: 65px;
    font-weight: 700;
}
.exp{
    font-size: 25px;
    font-weight: 500;
}
footer{
    max-width: 1440px;
    margin: 70px auto;
    border-radius: 8px;
    background: #FFF4E7;
    text-align: center;
}
.footer-desc{
    color: #424242;
    padding: 40px 410px;
}




.hide{
    display: none;
}

/* Responsive for small device */
@media screen and (max-width:576px) {
    header{
        padding: 20px;
    }
    nav,
    .teams-container,
    .facts-card-container,
    .sponsor-img,
    .feature
    {
        flex-direction: column;
    }
    .teams-img{
        grid-template-columns: 1fr;
    }
    .feature-img img{
        width: 100%;
        margin-left: 0;
    }
    .ten-year{
        position: static;
        max-width: 293px;
    }
    .teams-content,
    .facts-card-container
    {
        padding-left: 20px;
        padding-right: 20px;
    }
    .facts-card-container{
        gap: 20px;
    }
    .some-fact, .facts-desc{
        padding-left: 20px;
    }
    .facts-desc{
        padding-right: 20px;
    }
    footer{
        width: 100%;
        margin-bottom: 0;
    }
    .footer-desc{
        padding: 20px 10px;
    }
}
/* Responsive for medium device */
@media screen and (min-width: 576px) and (max-width: 960px) {
    header{
        padding: 50px;
    }
    nav,
    .teams-container,
    .sponsor-img,
    .feature
    {
        flex-direction: column;
    }
    .feature-img img{
        margin-left: 60px;
    }
    footer{
        width: 95%;
    }
    .footer-desc{
        padding: 30px 10px;
    }
}